Изначально можно выделить 3 сущности:
1.	Customers
-	customer_id
-	first_name
-	last_name
-	gender
-	DOB
-	job_title
-	job_industry_category
-	wealth_segment
-	deceased_indicator
-	owns_car
-	address
-	postcode
-	state
-	country
-	property_valuation
2. Products
-	product_id
-	brand
-	product_line
-	product_class
-	product_size
-	list_price
-	standard_cost
3. Transactions
-	transaction_id
-	product_id
-	customer_id
-	transaction_date
-	online_order
-	order_status
---
Рассмотрим подробнее Customers. Атрибут customer_id можно выделить как primary key, так как все значения уникальны. Атрибуты job_title и job_industry_category логично вынести в две таблицы job и job_category, чтобы убрать связь “многих-ко-многим”, так как может возникнуть ситуация, когда у одного клиента, может быть, несколько должностей или одна должность относиться к нескольким отраслям. Атрибуты state и country необходимо также вынести в отдельную таблицу country, так как существует зависимость postcode -> state, country.

Рассмотрим подробнее Products. Атрибут product_id нельзя выделить как primary key, так как не все значения уникальны, например, атрибут list_price может менятся при одинаковом значении product_id. Можно использовать составной ключ из атрибутов product_id и brand, тогда все остальные будут зависить от них.  Атрибут standard_cost необходимо вынести в отдельную таблицу price, так как существует зависимость list_price -> standard_cost.

![alt text](img/1.png)

Проверим условия нахождения в 3 НФ. Все атрибуты в таблицах простые и нет повторяющихся групп, следовательно, соответствует 1 НФ. Каждый столбец, который не является ключом, зависит от первичного ключа, следовательно, соответствует 2 НФ. Для соответствия 3 НФ должны отсутствовать транзитивные зависимости. В приведенной выше структуре у всех таблиц все транзитивные зависимости вынесены в отдельные таблицы, следовательно, соответствует 3 НФ.

In [ ]:
#SQL-script
# create table if not exists customer(
#   customer_id int primary key,
#   first_name text not null,
#   last_name text not null,
#   gender text,
#   DOB date,
#   category_to_job_id int not null,
#   wealth_segment text,
#   deceased_indicator text,
#   owns_car text,
#   address text,
#   postcode int,
#   property_valuation int
# );

# insert into customer
# values 
# (1654, 'Melli', 'Sperwell', 'Female', '1989-03-05', 1, 'High Net Worth', 'N', 'Yes', '17974 Kedzie Circle', 2795, 7),
# (41, 'Basilius', 'Coupe', 'Male', '1976-04-14', 2, 'Mass Customer', 'N', 'No',	'2028 Lakewood Place', 2480, 3),
# (19, 'Sorcha', 'Keyson', 'Female', '2001-04-15', 3, 'High Net Worth', 'N', 'No', '18 Jenna Center', 2650, 7),
# (2223, 'Sarita', 'Georgiev', 'Female', '1981-01-29', 4, 'Mass Customer', 'N', 'No', '60650 Mcbride Point', 3918, 7),
# (1010, 'Leighton', 'Ebbles', 'Male', '1963-01-26', 5, 'Affluent Customer', 'N', 'No', '9 Macpherson Avenue', 2527, 8);

# create table if not exists transaction(
#   transaction_id int primary key,
#   customer_id int not null,
#   product_id int not null,
#   brand text not null,
#   transaction_date date,
#   online_order bool,
#   order_status text
# );

# insert into transaction
# values 
# (14850, 19, 87, 'OHM Cycles', '2017-03-25', 'false', 'Approved'),
# (1677, 41, 82, 'Norco Bicycles', '2017-04-15', 'true', 'Approved'),
# (8042, 1010, 56, 'OHM Cycles', '2017-05-28', 'false', 'Approved'),
# (7870, 1654, 88, 'Norco Bicycles', '2017-06-19', 'true', 'Approved'),
# (1350, 2223, 86,  'OHM Cycles', '2017-01-12', 'false', 'Approved');

# create table if not exists product(
#   product_id int,
#   brand text,
#   PRIMARY KEY (product_id, brand),
#   product_line text,
#   product_class text,
#   product_size text,
#   list_price decimal
# );

# insert into product
# values 
# (87, 'OHM Cycles','Standard', 'medium', 'medium', 1636.9),
# (87, 'Giant Bicycles', 'Standard', 'high', 'medium', 1179),
# (56, 'OHM Cycles', 'Standard', 'medium', 'medium', 183.86),
# (86, 'OHM Cycles', 'Standard', 'medium', 'medium', 235.63),
# (86, 'Norco Bicycles', 'Road', 'high', 'large', 774.53);

# create table if not exists country(
#   postcode int primary key,
#   state text,
#   country text
# );

# insert into country
# values 
# (2795, 'NSW', 'Australia'),
# (2480, 'NSW', 'Australia'),
# (2650, 'NSW', 'Australia'),
# (3918, 'VIC', 'Australia'),
# (2527, 'NSW', 'Australia');

# create table if not exists job(
#   job_title_id serial primary key,
#   job_title text unique not null
# );

# insert into job (job_title)
# values 
# ('Professor'),
# ('Nurse'),
# ('Geological Engineer'),
# ('Graphic Designer'),
# ('Food Chemist');

# create table if not exists job_category(
#   job_industry_category_id serial primary key,
#   job_industry_category text unique not null
# );

# insert into job_category (job_industry_category)
# values 
# ('Manufacturing'),
# ('Health'),
# ('Financial Services'),
# ('Property'),
# ('IT');

# create table if not exists category_to_job(
#   category_to_job_id serial primary key,
#   job_title_id int not null,
#   job_industry_category_id int not null
# );

# insert into category_to_job (job_title_id, job_industry_category_id)
# values 
# (1, 5),
# (5, 2),
# (3, 1),
# (1, 2),
# (2, 3);


# create table if not exists price(
#   list_price decimal primary key,
#   standard_cost decimal
# );

# insert into price
# values
# (1636.9, 44.71),
# (1179, 707.4),
# (183.86, 137.9),
# (235.63, 125.07),
# (774.53, 464.72);

## Таблица category_to_job
![alt text](img/2.png)

## Таблица country
![alt text](img/3.png)

## Таблица customers
![alt text](img/4.png)

## Таблица job
![alt text](img/5.png)

## Таблица job_category
![alt text](img/6.png)

## Таблица price
![alt text](img/7.png)

## Таблица product
![alt text](img/8.png)

## Таблица transaction
![alt text](img/9.png)